---
---

@import "main";

.navbar {
  max-width: none;
  padding-right: $spacing-full * 2;
  padding-left: $spacing-full * 2;
}

.menu {
  a#mode {
    float: right;
    left: auto;
    right: 8px;
  }

  .trigger {
    float: left;
  }
}
